<launch>
  <arg name="namespace" default="bubbles"/>

  <node name="joy_node" pkg="joy" type="joy_node"/>
  <node name="basic_teleop" pkg="bubbles_adapter" type="basic_teleop.py">
    <remap from="/basic_teleop/output" to="/$(arg namespace)/thruster_manager/input" />
  </node>

  <include file="$(find bubbles_adapter)/launch/bubbles_adapter.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>
</launch>
