
<launch>
    <env name="GAZEBO_RESOURCE_PATH" value="$(find sauvc_gazebo)/media:$(optenv GAZEBO_RESOURCE_PATH)" />
    <env name="GAZEBO_MODEL_PATH" value="$(find sauvc_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find sauvc_gazebo)/worlds/sauvc_2019.world"/>
        <arg name="verbose" value="true"/>
    </include>

</launch>
